<div class="row">
  <div class="col-xs-12" style="max-height: 500px; max-width: 500px;">
    <img [src]="recipeData.imgPath" alt="" class="img-responsive img-circle" 
    />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeData.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div appDropdownDirective class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To shopping list</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div style="margin-top: 10px; margin-bottom: 10px;"class="col-xs-12">
    {{ recipeData.description }}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>
